//css for navbar
.navbar-wrapper{
  background-color: #00cc99;
}




//css for footer
.footer-wrapper{
  padding: 20px;
  background-color: #757575;

  h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
}